body {
font-family: "Roboto", sans-serif;
color:#434455;
background-color: white;
line-height: 24px;
letter-spacing: 0.02em;
font-size: 16px;
}
a {
    text-decoration: none;
}
ul{list-style-type: none;}

.style-logo{
    color: #4D5AE5;
    font-size: 18px ;
}
.logo{
    font-size: 18px;
    color:#2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    font-weight:700;
    text-transform: uppercase;
}
.logo_end{
    font-size: 18px;
        color: #F4F4FD;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 0.03em;
        font-weight: 700;
        text-transform: uppercase;
}
.studio{
    background-color:#f4f4fd;
}
.navigation .nav_color{
color: #2E2F42;

}
.navigation .nav_color:hover { 
color: #404BBF;
}
address .nav_color{
color:#2E2F42;
font-style: normal;
}
address .nav_color:hover{
color:#404BBF;
}
 .cap{ 
    background-color: #2E2F42;
}  
/* Family: Roboto Weight: Medium Size: 16px Line Height: 24px Letter Spacing: 4% */
button {
    background-color: #4D5AE5;
    color: white;
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: 0.04em;
    cursor: pointer;
}
button:hover {
    background-color:#404BBF;
    
}
.team_members{
background-color: #FFFFFF;
}
footer{
    background-color: #2E2F42;
}
.and_text{
color:#F4F4FD;
}
h1{
    color:white;
    font-size: 56px; 
    text-align: center;
    font-weight: bold;
    line-height: 3.75rem;
    letter-spacing: 0.02em;

}

h2{
font-weight: bold;    
font-size: 36px;
letter-spacing: 0.02em;
}
h3{
        font-size: 20px;
        letter-spacing: 0.02em;
}
h1,h2{
    text-align: center;
}

