body {
font-family: "Roboto", "Raleway", sans-serif;
color:#434455;
}
a {
    text-decoration: none;
}
ul{list-style-type: none;}

.style-logo{
    color: #4D5AE5;
    font-size: 18px ;
}
.logo{
    font-size: 18px;
}
.navigation .nav_color{
color: #2E2F42;

}
.navigation .nav_color:hover { 
color: #404BBF;
}
#contacts .nav_color{
color:#2E2F42;
}
#contacts .nav_color:hover{
color:#404BBF;
}
 .cap{ 
    background-color: #2E2F42;
}  
button {
    background-color: #4D5AE5;
    color: white
}
button:hover {
    background-color:#404BBF;
    
}

h1{
    color:white;
    font-size: 56px; 
    text-align: center;

}
h1,h2{
    text-align: center;
}

